.fade-enter {
    opacity: 0;
    transform: scale(0.95);
    transform: rotate('45deg');
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms, transform 400ms;
    transform: rotate('45deg');
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 400ms, transform 400ms;
  }
  